@inject IOptions<WebSettings> webSettings
@model TemplateFw.Dtos.FaqFilter
<div class="card master-form">
    <div class="card-body">
        <form id="grid-filter" class="grid-filter"
              action="/faq/IndexContent"
              data-container-id="containerBox"
              onsubmit="actionsController.search(this,event)">
            <input type="hidden" id="PageNumber" name="PageNumber" value="@Model.PageNumber" />
            <div class="row">
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-w600 px-4">@localizer["Portal"]</label>
                        <select class="select2 select-dynamic"
                                id="PortalId"
                                name="PortalId"
                                data-api-url="https://localhost:5800/Lookup/Portals"
                                data-default-val=""
                                data-default-text="الكل">
                        </select>
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div class="form-group">
                        <label class="font-w600 px-4">@localizer["Service"]</label>
                        <select class="select2 select-dynamic"
                                id="ServiceId"
                                name="ServiceId"
                                data-api-url="https://localhost:5800/Lookup/Services"
                                data-cascade-api-url="https://localhost:5800/Lookup/Services?portalid="
                                data-default-val=""
                                data-default-text="الكل"
                                data-cascade-with="PortalId"> </select>


                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="font-w600 px-4">عدد العناصر</label>
                        <select id="ddlPageSize" name="PageSize" class="select2">
                            <option value="20">عرض 20 عنصر بالجدول</option>
                            <option value="50">عرض 50 عنصر بالجدول</option>
                            <option value="100">عرض 100 عنصر بالجدول</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-label-small px-3" for="Question">@localizer["Question"] :</label>
                        <input class="form-control" type="text" data-type="text" id="Question" name="Question" placeholder="Enter " maxlength="150" max="0" data-smk-max="0">

                        <i class="accent"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('#grid-filter').find('select,input').change(function () {
        $('#PageNumber').val('1');
        $('#grid-filter').trigger('submit');

    });
</script>